body {
    background-color: #232323;
}

h1 {
    color: white;
}

#stripe{
    background: white;
    height: 30px;
    text-align: center;
}

#container {
    margin: 0 auto;
    max-width: 600px;
}

.square {
    background: purple;
    float: left;
    margin: 1.6%;
    padding-bottom: 30%;   
    width: 30%;
}
